<!DOCTYPE html>
<html lang="en" ng-app="internalApp">
<head>
    <meta charset="UTF-8">
    <title>Asm internal app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Icons -->
    <link href="media/css/font-awesome.css" rel="stylesheet">
    <link href="media/css/simple-line-icons.css" rel="stylesheet">

    <!-- Main styles for this application -->
    <link href="media/css/style.css" rel="stylesheet">

    <!-- Bootstrap and necessary plugins -->
    <script src="media/js/jquery.min.js"></script>
    <script src="media/js/tether.min.js"></script>
    <script src="media/js/bootstrap.min.js"></script>
    <script src="media/js/pace.min.js"></script>

    <!-- Main scripts -->
    <script src="media/js/app.js"></script>

</head>
<body >

<div class="content-wrapper">

    <div ui-view id="temp"></div>


</div>
</body>
</html>